<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="l-block toggled" id="l-login">
        <div class="lb-header palette-Teal bg">
            <i class="zmdi zmdi-lock"></i>
            Login Success
        </div>
    
        <div class="lb-body">
            <p class="message center">You are successfully logged in. <br /> <a class="color_link center" href="{% url 'customer:sign_up' %}">Logout</a>
        </div>
    </div>
</body>
</html>

            